@import "tailwindcss";

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  @apply bg-linear-to-r from-indigo-500 to-purple-500;
}

.btn {
  @apply cursor-pointer px-4 py-2 rounded;
}

.btn-blue {
  @apply bg-indigo-600 hover:bg-orange-400 text-white;
}

.btn-blue-disabled {
  @apply cursor-not-allowed px-4 py-2 rounded bg-indigo-200 text-white;
}

.btn-orange {
  @apply bg-orange-500 hover:bg-orange-600 text-white;
}

.btn-white {
  @apply bg-white hover:bg-orange-400 text-indigo-500 hover:text-white font-semibold;
}

.btn-red {
  @apply bg-red-500 hover:bg-orange-400 text-white;
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: fit-content;
  margin: auto;
  padding: 4%;
  background-color: white;
  color: rgb(43, 43, 43);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.overlay-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
